name: Generate Snake

on:
  schedule:
    - cron: "0 */24 * * *" 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=#007ACC&palette=github-dark
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#007ACC&color_dots=#161b22,#0e4429,#006d32,#26a641,#39d353

      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
